/* Keyframes
================================================== */

@-webkit-keyframes pulse {
	0% {-webkit-transform: scale(1.0);}
	50%{-webkit-transform: scale(0.9);}
	100%{-webkit-transform: scale(1);}
}
@-moz-keyframes pulse {
	0% {-moz-transform: scale(1.0);}
	50%{-moz-transform: scale(0.9);}
	100%{-moz-transform: scale(1);}
}

// Usage:
// -webkit-animation: pulse 3s linear infinite;
// -webkit-animation-play-state: paused;