@mixin transition($time) {
    -webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
    transition: $time;
}

@mixin bxsizing() {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

// Usage:
// @include transition(2.0s);
// @include boxy();