/* Typography
================================================== */

.alpha-header {
	line-height: auto;
	font-weight: normal;
	&.alpha-header--dark {
	}
	span {
		font-weight: normal;
	}
}
.beta-header {
	line-height: auto;
	font-weight: normal;
	line-height: 1.3;
}
.omega-header {
	line-height: auto;
	font-weight: normal;
	b {
		font-weight: normal;
	}
	span {	
		font-weight: normal;
	}
}
.content {
	line-height: auto;
	font-weight: normal;
	span {	
		font-weight: normal;
	}
	&.content--light {
	}
}
.anchor {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center
}
.align-right {
	text-align: right;
}
.align-justify {
	text-align: justify;
}