/* Variables
================================================== */

$primaryFont: 'Bebas Neubook', sans-serif;
$secondaryFont: 'Bebas Neu', sans-serif;

//sizes

$smallFont: 24px;
$lesserFont: 30px;
$normalFont:36px;
$largeFont: 48px;
$massiveFont: 80px;

//colors

// $primaryColor: ; //
// $secondaryColor: ; //
// $tertairyColor: ; //
// $quaternaryColor: ; //

$white: #FFFFFF;
$black: #000000;
