/* Base page styles

	Contents:

	1)CSS Reset
	2)Body Styles
	3)Header and Navigation
	4)Footer

================================================== */

/* 1 - Reset

================================================== */

* {
	padding: 0;
	margin: 0;
	@include boxy;
	-webkit-font-smoothing: antialiased !important;
	border: none;
	height: 1%; 
}

.clearfix { 
	display: inline-block; 
	display: block;
	&:after {
		visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
	}
}



/* 2 - Body Styles

================================================== */

html, body {

}


/* 3 - Header and Navigation

================================================== */

header {

}

nav {
	
}

/* 4 - Footer

================================================== */

footer {

}