/* ==================================Variables======================================== */

// Pathing
$imgsrc:  "../img";
$fontsrc: "../fonts";

// Fonts
$primaryFont:   Lucida Sans Unicode;
$secondaryFont: Georgia, serif;

// Colors
$black:	#161616;
$white:	#fcfcfc;
$skyblue:	#38b0de;
$grey:	#ccc;

// Natural Colour System
$red: #C40233;
$yellow: #FFD300;
$green: #009F6B;
$blue: #0087BD;

// Button colors
$red: (red $red);
$yellow: (yellow $yellow);
$green: (green $green);
$blue: (blue $blue);

// Primary, secondary, tertiary Color scheme
$primaryColor:   $skyblue;
$secondaryColor: $white;
$tertiaryColor:  $black;

// Sizing
$small:   7.5px;
$medium:  15px;
$large:   30px;
$massive: 60px;

// Media Queries
$mob:      480px;
$mob--lrg: 640px;
$tab:      768px;
$tab--lrg: 820px;

/* ========================================

  NOTES:

  eg :-

  #{$imgsrc}/folder/image.jpg
  font-family: $primaryFont;

========================================  */