/* ==================================Layout======================================== */

// Basic Structure

.wrap {
	
	width: 100%;
	height: auto;
	overflow: hidden;
	float: left;
	clear: both;
	height: auto;
	position: relative;

	&--bg-dark {

		@extend .wrap;
		background: $primaryColor;

	}

	&--bg-light {

		@extend .wrap;
		background: $secondaryColor;

	}

	&--borderme {

		@extend .wrap;
		border-top: 1px solid $quaternaryColor;
		border-bottom: 1px solid $quaternaryColor;

	}

}

.container {

	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px 0;
	overflow: hidden;

}

.box {
	
	width: 100%;
	padding: 10px 0;
	margin: 0 auto;
	padding: 5px;
	overflow: hidden;
	float: left;
	position: relative;

	@for $i from 1 through 12 {

		&--#{$i} {

			@extend .box;
			@include width($i, 0%); 

			@include mq($tab--lrg){

				$half: round($i/2);

				@include width($half,0%);

					@if(($i / 2) % 1 != 0 and $i != 1) {
						//

					&:nth-of-type(#{($half) + 1}) {

						margin-left: unquote((100 / $half) / 2 + "%");
						clear: both;

					}

				}

			}

			@include mq($mob){

				@include width(1,0%);
				margin-left: 0!important;

			}

		}

	}

	&--np {

		@extend .box;
		padding: 0;

	}

	&--padme {

		@extend .box;
		padding: 30px;

	}

}
